body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: gray;
    margin: 0 auto;
}

.grid-square-div {
    display: flex;
    flex-direction: column;
    background: white;
    border: 52px ridge red;
    border-radius: 12px;
    padding: 6px;
    margin-top: 8px;
}

.grid-row {
    display: flex;
}

.grid-square {
    display: flex;
    background: gray;
    /*
    border: 2px inset darkgray;
    */
    height: 24px;
    width: 24px;
}

.etch {
    background: black;
}

.btn-squares {
    width: 384px;
    padding: 0.4em;
    margin-top: 1.5%;
    border: 2px solid black;
    font-family: Verdana, sans-serif;
}

.btn-extra-div {
    display: flex;
}

.btn-RGB, .btn-darken {
    width: 192px;
    padding: 0.4em;
    margin-top: 1.5%;
    border: 2px solid black;
    font-family: Verdana, sans-serif;
}

.btn-squares:hover, .btn-RGB:hover, .btn-darken:hover {
    background: red;
    color: white;
    border: 2px solid white;
}